@model GroceryStore.Models.HomeViewModels.IndexViewModel
@{
    ViewData["Title"] = "Groceries";
}

<h2>Groceries</h2>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading details-control"><span class="details-control-open"></span>Search</div>
            <div class="panel-body">
                <form method="get" asp-action="Index" asp-controller="Home">
                    <div class="form-group col-md-3">
                        <label for="searchName">Search name</label>
                        <input id="searchName" name="searchName" class="form-control" value="@Model.SearchName" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="searchPrice">Search price</label>
                        <input id="searchPrice" name="searchPrice" class="form-control" value="@Model.SearchPrice" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="searchWeight">Search weight</label>
                        <input id="searchWeight" name="searchWeight" class="form-control" value="@Model.SearchWeight" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="searchConversionCode">Search conversion code</label>
                        <input id="searchConversionCode" name="searchConversionCode" class="form-control" value="@Model.SearchConversionCode" />
                    </div>
                    <div class="pull-right">
                        <div class="col-md-12">
                            <button id="resetSearch" type="button" class="btn btn-default">Reset</button>
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i> Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
@if (Model.Groceries.Count() > 0)
{
    foreach (var item in Model.Groceries)
    {
        <div class="col-md-4">
            <div class="thumbnail">
                <a asp-action="Stock" asp-controller="Home" asp-route-id="@item.GroceryId">
                @if (string.IsNullOrWhiteSpace(item.ImageUrl))
                {
                    <img src="~/images/imagenotavailable1-39de324.png" alt="Missing image" class="thumbnail-size" />
                }
                else
                {
                    <img src="@item.ImageUrl" alt="@item.ImageAlt" class="thumbnail-size" />
                }
                </a>
                <div class="caption">
                    <h3 class="name">@item.Name</h3>
                    <a asp-action="Stock" asp-controller="Home" asp-route-id="@item.GroceryId" class="btn btn-primary" style="width:100px;">Stock</a>
                    @if (item.Conversion != null)
                    {
                        <p class="font-weight-bold"><span class="price">@item.Price.ToString("C2")</span> per <span class="weight">@string.Format("{0:G29}", item.Weight)</span><span class="conversionCode">@item.Conversion.Code</span></p>
                    }
                    else
                    {
                        <p class="font-weight-bold"><span class="price">@item.Price.ToString("C2")</span></p>
                    }

                    @if (string.IsNullOrWhiteSpace(item.Description))
                    {
                        <p>N/A</p>
                    }
                    else
                    {
                        <p>@item.Description</p>
                    }
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="col-md-12">
        <p>There are no items to show.</p>
    </div>
}
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.details-control').on('click', function () {
                var sibling = $(this).next();
                var child = $(this).children()[0];

                if (!sibling.hasClass('hidden')) {
                    $(child).removeClass('details-control-open');
                    $(child).addClass('details-control-collapsed');
                    sibling.addClass('hidden');
                }
                else {
                    $(child).removeClass('details-control-collapsed');
                    $(child).addClass('details-control-open');
                    sibling.removeClass('hidden');
                }
            });

            // default html reset button doesn't reset all fields after search :/
            $('#resetSearch').on('click', function () {
                $('#searchName').val('');
                $('#searchPrice').val('');
                $('#searchWeight').val('');
                $('#searchConversionCode').val('');
            });
        });
    </script>
}