@model IEnumerable<GroceryStore.Models.Grocery>

@{
    ViewData["Title"] = "Groceries";
}

<h2>Groceries</h2>

@foreach (var item in Model)
{
    <div class="col-md-4">
        <div class="thumbnail">
            <a asp-controller="Home" asp-action="Stock" asp-route-id="@item.GroceryId">
                @if (!string.IsNullOrWhiteSpace(item.ImageUrl))
                {
                    <img src="@item.ImageUrl" alt="@item.ImageAlt" class="thumbnail-size" />
                }
                else
                {
                    <img src="~/images/imagenotavailable1-39de324.png" alt="Missing image" class="thumbnail-size" />
                }
            </a>
            <div class="caption">
                <h3>@item.Name</h3>
                @{
                    string weight = item.Weight != null ? $"{string.Format("{0:G29}", item.Weight)} {item.Conversion.Code}" : string.Empty;
                }
                <a asp-controller="Home" asp-action="Stock" asp-route-groceryid="@item.GroceryId" class="btn btn-primary" style="width:30%;">Stock</a>
                <p class="font-weight-bold">@string.Format("{0:C}", item.Price) per @weight</p>
                @if (!string.IsNullOrWhiteSpace(item.Description))
                {
                    <p>@item.Description</p>
                }
                else
                {
                    <p>N/A</p>
                }
            </div>
        </div>
    </div>
}
