@model IEnumerable<GroceryStore.Models.Stock>

@{ 
    ViewData["Title"] = "Stock";
}

<h2>Stock</h2>

<div>
    <h4>@ViewData["Subtitle"]</h4>
    <hr />
    @foreach (var item in Model)
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(modelItem => item.Quantity)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.Quantity)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.Location)
            </dt>
            <dd>
                @{
                    string fullLocation = $"{item.Location.Address}, {item.Location.City}, {item.Location.ProvinceState.Code} {item.Location.PostalCode}";
                }
                @Html.DisplayFor(modelItem => fullLocation)
            </dd>
        </dl>
    }

    @if (!Model.Any())
    {
        <p>There is no stock of this item.</p>
    }
</div>
<div>
    <a href="@ViewData["ReturnURL"]">Back to List</a>
</div>
