@page
@model RolesModel
@{
    ViewData["Title"] = "Roles";
    ViewData["ActivePage"] = ManageNavPages.Roles;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading details-control"><span class="details-control-open"></span>Search</div>
            <div class="panel-body">
                <form method="post" asp-page="Roles" asp-page-handler="Search">
                    @Html.AntiForgeryToken()
                    <div class="col-md-4 form-group">
                        <label asp-for="Input.SearchRole"></label>
                        <input asp-for="Input.SearchRole" class="form-control" />
                    </div>
                    <div class="col-md-4 form-group">
                        <label asp-for="Input.SearchUser"></label>
                        <input asp-for="Input.SearchUser" class="form-control" />
                    </div>
                    <!-- a bit of a hack fix to get correct alignment on certain displays -->
                    <div class="hidden-sm hidden-xs">
                        <div class="pull-right" style="margin-top:25px;">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i> Search</button>
                        </div>
                    </div>
                    <div class="hidden-lg hidden-md">
                        <div class="col-md-4 form-group">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i> Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-default" onclick="expandAll()">Expand All</button>
        <button class="btn btn-default" onclick="collapseAll()">Collapse All</button>
        <div class="pull-right form-group">
            <a asp-page="./AddRole" class="btn btn-default">Add Role</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default" id="roleData">
        @foreach (var item in Model.Roles)
        {
            <div class="panel-heading details-control"><span class="details-control-open"></span>@item.Role.Name</div>
            <div class="panel-body">
                @if (item.Users.Count > 0)
                {
                    <dl class="dl-horizontal" style="display:inline-block;">
                        <dt>Associated Users</dt>
                        @foreach (var user in item.Users)
                        {
                            <dd>@user.UserName</dd>
                        }
                    </dl>
                }
                else
                {
                    <text>There are no users to show</text>
                }
                <div class="pull-right">
                    @if (item.AllowEditAndDelete)
                    {
                        <button class="btn btn-default editRole" title="Edit this role" id="edit_@item.Role.Id" style="margin-right:5px;"><i class="glyphicon glyphicon-pencil"></i></button>
                        <button class="btn btn-default deleteRole" title="Delete this role" id="delete_@item.Role.Id"><i class="glyphicon glyphicon-trash"></i></button>
                    }
                    else
                    {
                        <button class="btn btn-default" style="margin-right:5px;" disabled><i class="glyphicon glyphicon-pencil"></i></button>
                        <button class="btn btn-default" disabled><i class="glyphicon glyphicon-trash"></i></button>
                    }
                </div>
            </div>
        }

        @if (Model.Roles.Count == 0)
        {
            <div class="panel-body">There are no roles to show</div>
        }
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.editRole').on('click', function () {
                return confirmEditRole($(this).prop('id').split('_')[1]);
            });

            $('.deleteRole').on('click', function () {
                return confirmDeleteRole($(this).prop('id').split('_')[1]);
            });

            $('.details-control').on('click', function () {
                var sibling = $(this).next();
                var child = $(this).children().first();

                if (!sibling.hasClass('hidden')) {
                    child.removeClass('details-control-open');
                    child.addClass('details-control-collapsed');
                    sibling.addClass('hidden');
                }
                else {
                    child.removeClass('details-control-collapsed');
                    child.addClass('details-control-open');
                    sibling.removeClass('hidden');
                }
            });
        });

        function confirmEditRole(id) {
            if (confirm('Are you sure you want to edit this role? The associated users will have their role changed to the role that\'s going to be updated with it.')) {
                window.location.href = './EditRole?id=' + id;
            }
        }

        function confirmDeleteRole(id) {
            if (confirm('Are you sure you want to delete this role? The associated users will not have this role associated anymore unless another role is assigned to them.')) {
                deleteRole(id);
            }
        }

        function deleteRole(id) {
            $.ajax({
                url: '@Url.Page("Roles", "Delete")',
                type: 'POST',
                data: {
                    id: id
                },
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (data) {
                    window.location.replace(data);
                }
            });
        }

        function expandAll() {
            $('#roleData > .panel-heading.details-control').each(function (index, element) {
                var child = $(element).children().first();

                if (child.hasClass('details-control-collapsed')) {
                    child.removeClass('details-control-collapsed');
                    child.addClass('details-control-open');
                }

                $(element).next('.panel-body').removeClass('hidden');    
            });
        }

        function collapseAll() {
            $('#roleData > .panel-heading.details-control').each(function (index, element) {
                var child = $(element).children().first();

                if (child.hasClass('details-control-open')) {
                    child.removeClass('details-control-open');
                    child.addClass('details-control-collapsed');
                }

                var sibling = $(element).next('.panel-body');

                // don't add twice
                if (!sibling.hasClass('hidden')) {
                    sibling.addClass('hidden');
                }
            });
        }
    </script>
}